/* friends */
.header{z-index: 2; position: fixed; top:0; width:100%; background: #513736; padding:5px 10px 15px 10px; color:#fff;}

.h_top{display: flex; margin-bottom:15px;}
.h_top .h_column{font-size:12px;}

.h_column{width:33.3%;}
.h_column:nth-child(2){text-align: center;}
.h_column:nth-child(3){text-align: right;}

.h_bottom{display: flex; margin:0 10px;}
.txt{opacity: 0.5;}
.h_bottom a{color:#fff;}
.number{color:yellow;}

.friends a{text-decoration: none; color:#000;}
.section_h{font-size: 12px; padding:10px 15px; color:#b4b4b4; border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb;}
.section_row{display: flex; align-items: center; padding:10px 15px;}
.section_row a{font-size: 14px;}
.section_row span{font-size: 10px; padding: 10px; background: #f0f0f0; border-radius: 5px; color:#939393;}
.section_row img{width:40px; height: 40px; border-radius: 20px; margin-right:15px;}
.section_fri{justify-content: space-between;}

.s_column{display: flex; align-items: center;}
